@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

#yjadpr-wrapper {
  width: 100%;
  min-width: 950px;
  overflow: hidden;
  background: #fff url(../images/bg_wrapper.png);
  font-family: 'Hiragino Kaku Gothic Pro',Meiryo, arial, helvetica, clean, sans-serif;
}
#yjadpr-wrapper * {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}
#yjadpr-wrapper .yjadpr-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#yjadpr-wrapper .yjadpr-clearfix {
  display: inline-block;
  min-height: 1%;
}
#yjadpr-wrapper .yjadpr-clearfix {
  display: block;
}

#yjadpr-wrapper .yjadpr-arrows--link {
  margin-top: 60px;
}

#yjadpr-container {
  padding-bottom: 35px;
}

#yjadpr-header {
  margin: 0 auto;
  padding: 30px 0;
  width: 950px;
}
#yjadpr-header #yjadpr-logo {
  float: left;
}
#yjadpr-header #yjadpr-printing-period {
  margin-left: 330px;
  float: left;
  font-size: 90%;
  color: #666666;
}
#yjadpr-header #yjadpr-sns--button {
  float: right;
}
#yjadpr-header #yjadpr-sns--button #yjadpr-sns--button__facebook,
#yjadpr-header #yjadpr-sns--button #yjadpr-sns--button__tweet {
  margin-left: 10px;
  width: 90px;
  float: left;
}

#yjadpr-contents {
  margin: 40px auto 0;
  width: 960px;
  text-align: center;
  position: relative;
}

#yjadpr-main {
  margin:0 auto;
  width: 840px;
  text-align: left;
  position: relative;
}

#yjadpr-main__report{
}

#yjadpr-report__menu{
  width: 840px;
  height: 50px;
  position: relative;
}

#yjadpr-report__menu li{
  position: absolute;
  top: 0;
  left: 0;
}
#yjadpr-report__menu li.nav_akiba{left: 0px; z-index:4;}
#yjadpr-report__menu li.nav_shibuya{left: 200px; z-index:3;}
#yjadpr-report__menu li.nav_yokohama{left: 400px; z-index:2;}
#yjadpr-report__menu li.nav_shinjuku{left: 600px; z-index:1;}

#yjadpr-main__report{
  padding-bottom: 65px;
  background: #fff;
  border: 10px solid #49bbbc;
}

#yjadpr-main__report .yjadpr-main__report--column{
  margin: 0 auto;
  width: 750px;
  line-height: 1.8em;
  overflow: hidden;
}

#yjadpr-main__report hr{
  width: 819px;
  height: 150px;
  background: url(../images/hr_caravan.png);
}

#yjadpr-contents .yjadpr-top--link{
  margin-top: 30px;
}

#yjadpr-report__menu--footer{
  width: 840px;
  height: 50px;
  position: relative;
}

#yjadpr-report__menu--footer li{
  position: absolute;
  top: 0;
  left: 0;
}
#yjadpr-report__menu--footer li.nav_akiba{left: 0px; z-index:4;}
#yjadpr-report__menu--footer li.nav_shibuya{left: 200px; z-index:3;}
#yjadpr-report__menu--footer li.nav_yokohama{left: 400px; z-index:2;}
#yjadpr-report__menu--footer li.nav_shinjuku{left: 600px; z-index:1;}

#yjadpr-main__report .yjadpr-main__report--column .yjadpr-colL{float:left;}
#yjadpr-main__report .yjadpr-main__report--column .yjadpr-colR{float:right;}
#yjadpr-main__report .yjadpr-main__report--column .yjadpr-text{width:360px; font-size: 90%;}

#yjadpr-circle--01{
  position: absolute;
  top:300px;
  left: -400px;
}
#yjadpr-circle--02{
  position: absolute;
  top:800px;
  right: -400px;
}
#yjadpr-circle--03{
  position: absolute;
  top:1800px;
  left: -400px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.yjadpr-rotating {
  width: 572px;
  height: 570px;
  -webkit-animation: rotating 100s linear infinite;
  -moz-animation: rotating 100s linear infinite;
  -ms-animation: rotating 100s linear infinite;
  -o-animation: rotating 100s linear infinite;
  animation: rotating 100s linear infinite;
  background: url(../images/bg_circle.png) 0 0 no-repeat;
}

#yjadpr-arrows {
  margin: 170px auto 0;
  width: 880px;
}

#yjadpr-footer {
  margin: 65px auto 10px;
  color: #00a29a;
  font-size: 90%;
  text-align: center;
  font-size: 75%;
}
#yjadpr-footer a {
  color: #00a29a;
}
#yjadpr-footer #yjadpr-footer-link {
  margin-bottom: 8px;
}
#yjadpr-footer #yjadpr-footer-link li {
  padding: 0 5px 0 7px;
  line-height: 1.3em;
  display: inline-block;
}
#yjadpr-footer #yjadpr-footer-link .last {
  border-left: 1px solid #00a29a;
}
#yjadpr-footer #yjadpr-footer-link a {
  text-decoration: none;
}
#yjadpr-footer #yjadpr-footer-copy {
  margin-top: 8px;
}


/*???ѵ?????CSS*/
h1#terms_title {
	width: 840px;
	margin: 0 auto;
}

h2#terms_title_h2 {
  width: 700px;
  margin: 55px auto 0;
  font-size:110%;
}

dl#terms {
	width: 700px;
	margin: 0 auto;
}
dl#terms dt{
	font-size: 95%;
	margin-top: 30px;
	margin-bottom: 6px;
}
dl#terms dd{	
	font-size: 85%;
	margin-bottom: 10px;
}
dl#terms dd span{	
	font-size: 80%;
}
dl#terms dd ul li{
	margin-bottom: 10px;
}

#yjadpr-wrapper .terms-arrows--link {
  margin-top: 30px;
}
#yjadpr-contents .terms-top--link{
  margin-top: 60px;
}


#yjadpr-circle--01terms{
  position: absolute;
  top:80px;
  left: -400px;
}
#yjadpr-circle--02terms{
  position: absolute;
  top:780px;
  right: -400px;
}
#yjadpr-circle--03terms{
  position: absolute;
  top:1580px;
  left: -400px;
}

ul#terms_note{
	width: 700px;
	font-size: 70%;
	margin: 10px auto 0;
}
